<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Password Reset</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
{% load static %}

<script type="text/javascript" src="{% static 'js/resetPassword.js' %}"></script>

<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
     body {
        background-color : #00000;
        margin: 0;
        padding: 0;
    }
    h1 {
        color : #47bac1;
        text-align : center;
        font-family: "SIMPSON";
    }
    form {
        width: 300px;
        margin: 0 auto;
    }

</style>
</head>
<body>
        <input type="hidden" id="resetstring-hidden" name="resetstring-hidden" value="{{ resetString }}">

<div class="bs-example">
   <form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="password" name ="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary" > Reset</button>
    </form>
     <label for="result" id="resultlabel"></label>

</div>
</body>
</html>


